/*@font-face*/
/*{*/
    /*font-family: 'NiconneRegular';*/
    /*src: url('../type/NiconneRegular/NiconneRegular.ttf');*/
/*}*/
@font-face
{
    font-family: 'Comic Sans MS';
    src: url('../type/comic-sans-ms/ComicSansMS3.ttf');
}

body {
    font-family: 'Comic Sans MS';
    /*font-size: 150%;*/
}

.lyse-pic
{
    border: 1px double dimgray;
}

#size-menu
{
    /*font-size: 150%;*/
}

